<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Vote for a charity</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" media="screen">

    <% if @app %>
      <!-- These are Open Graph tags.  They add meta data to your  -->
      <!-- site that facebook uses when your content is shared     -->
      <!-- over facebook.  You should fill these tags in with      -->
      <!-- your data.  To learn more about Open Graph, visit       -->
      <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
      <meta property="og:title" content=""/>
      <meta property="og:type" content=""/>
      <meta property="og:url" content=""/>
      <meta property="og:image" content=""/>
      <meta property="og:site_name" content=""/>
      <meta property="fb:app_id" content="<%= @app[:id] %>" />
    <% end %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"</script>
    <script>

    </script>
    <!--[if IE]>
      <script>
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <header class="clearfix">

    </header>

    <section id="charities" class="clearfix">
      <h3><a href="http://heroku.com"><img src="/images/logo-heroku.png" alt="heroku" border="0" /></a></h3>
      <h1>Vote for a charity donation</h1>
      <ul>
        <% charities.each do |charity| %>
          <li class="charity" data-id="<%= charity['id'] %>" data-name="<%= charity['name'] %>">
            <a class="logo" href="<%= charity['url'] %>" title="<%= charity['name'] %>" style="background: url(<%= charity['logo_url'] %>) no-repeat center center">
            </a>
            <nav>
              <p class="votes">
                <%= charity['vote_count'].to_s %>
                <small><%= charity['vote_count'] == 1 ? ' vote' : ' votes' %></small>
              </p>
              <% if current_user.vote.nil?  %>
                <a href="/vote?charity_id=<%= charity['id'] %>" class="facebook-button vote-button enabled">
                  <span class="vote-button">
                    Vote
                  </span>
                </a>
              <% else %>
                <% if current_user.vote.charity_id == charity['id'] %>
                  <a href="/" class="facebook-button voted-button">
                    <span class="vote-button">
                      Voted
                    </span>
                  </a>
                <% else %>
                  <a href="/" class="facebook-button vote-button">
                      <span class="vote-button">
                        Vote
                      </span>
                    </a>
                <% end %>
              <% end %>
            </nav>
          </li>
        <% end %>
      </ul>
    </section>

    <section id="votes" class="clearfix">
      <h3>
        <%= [@vote_count.to_s, ((@vote_count == 1) ? 'vote' : 'votes')].join(' ') %></h3>
      <ul class="photos clearfix">
      </ul>
    </section>
  </body>
</html>
